body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #333;
  }
  
  .bg-pink {
    background: linear-gradient(to right, #f72585, #b5179e);
  }
  
  .card {
    border: none;
    transition: all 0.3s ease;
    height: 100%;
    background-color: #fff;
  }
  
  .card:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
  }
  
  .card-img-top {
    height: 300px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .card-body {
    text-align: left;
  }
  
  .card-title {
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .card-text {
    font-size: 0.95rem;
    color: #555;
  }
  
  .btn-comprar {
    background-color: #f72585;
    border: none;
    color: white;
    padding: 10px 16px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  .btn-comprar:hover {
    background-color: #c9184a;
  }
  