body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f1f3f5;
  }
  
  h1 {
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(270deg, #000000, #555555, #000000);
    background-size: 600% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: degradeAnimado 5s ease infinite;
    margin-bottom: 40px;
  }
  
  #produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Máximo 3 por linha */
    gap: 20px;
    justify-items: center;
  }
  
  .produto {
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    animation: aparecer 0.6s ease forwards;
  }
  
  .produto:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  }
  
  .produto img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .produto strong {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #333;
  }
  
  .produto .categoria {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 4px;
  }
  
  .produto .preco {
    font-size: 1em;
    color: #28a745;
    font-weight: bold;
  }
  
  hr.decorativo {
    display: block;
    width: 780px;
    height: 4px;
    margin: 10px auto 30px;
    background: linear-gradient(to right, #000, #555, #000);
    border-radius: 10px;
    animation: brilhoLinha 3s infinite ease-in-out;
  }
  

  /* Animação de entrada */
  @keyframes aparecer {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  @keyframes degradeAnimado {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  @keyframes brilhoLinha {
    0%, 100% { opacity: 0.5; transform: scaleX(1); }
    50% { opacity: 1; transform: scaleX(1.2); }
  }